#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#article-image {
  border-radius: 4%;
  max-width: 50%;
  height: auto;
}

.single-article {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid;
  font-family: sans-serif;
}

#single-article-image {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4%;
  object-fit: cover;
}

.article-content {
  text-align: left;
}

.article-content::after {
  content: "";
  display: block;
  clear: both;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid;
}

.article-info {
  text-align: left;
  font-size: 0.9rem;
}

.article-vote {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.comment-button{
  margin-top: 1rem;
}



